<div class="avatar-container">
    <button class="back-to-signin btn-icon" (click)="goToSignIn()"><img src="assets/img/arrow_back.svg" class=""
            alt=""></button>
    <h1>Wähle deinen Avatar</h1>
    <div class="avatar-window">
        <div class="picked-avatar">
            <img [src]="selectedAvatar" src="assets/img/person.png" alt="">
        </div>
        <h2 class="fs-32">{{currentUser?.name}}</h2>
        <div class="j-left">
            <p class="fs-20">Aus der Liste wählen</p>

        </div>

        <div class="avatar-list">
            <button (click)="changeAvatar(1)"><img src="assets/img/avatar-1.jpg" alt=""></button>
            <button (click)="changeAvatar(2)"><img src="assets/img/avatar-2.jpg" alt=""></button>
            <button (click)="changeAvatar(3)"><img src="assets/img/avatar-3.jpg" alt=""></button>
            <button (click)="changeAvatar(4)"><img src="assets/img/avatar-4.jpg" alt=""></button>
            <button (click)="changeAvatar(5)"><img src="assets/img/avatar-5.jpg" alt=""></button>
            <button (click)="changeAvatar(6)"><img src="assets/img/avatar-6.jpg" alt=""></button>
        </div>
        <div class="j-left upload-container">
            <p class="fs-20">eigenes Bild verwenden</p>
            <input type="file" #fileInput style="display: none" (change)="uploadAvatar($event)">
            <button (click)="fileInput.click()" class="btn-secondary fs-18">Datei Hochladen</button>
        </div>
    </div>
    <div class="next-btn-container">
        <button class="btn-primary fs-18" [disabled]="!imageChanged" (click)="createUser()">Weiter</button>
    </div>

</div>