
.front-page-container {
    position: relative;
    width: 100dvh;
    height: 100dvh;
    max-width: 1920px;
}

.test {
    width: 100%;
    height: 100vh;
}

.intro-bg-container {
    position: absolute;
    height: 100dvh;
    width: 100dvw;
    z-index: 1;
    background: linear-gradient(1.46deg, #313AE6 1.22%, #797EF3 98.76%);
    animation-timing-function: ease-out;
    animation: fadeOut 1s forwards 4000ms;
}

.intro-logo-container {
    height: 100vh;
    width: 100dvw;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    pointer-events: none;
    touch-action: none;

}

.intro-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    animation: moveToTopLeft 1s forwards 4000ms;
    max-width: 696px;
    height: 184px;
    font-size: 90px;
    color: var(--color-white);

}

.intro-logo-img {
    height: 100%;
    aspect-ratio: 1 / 1;
}

.intro-logo-text-container {
    width: 0%;
    max-width: 496px;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    animation: moveLogoToLeft 1s forwards 500ms;
}

.intro-logo-text {
    font-weight: 700;
    display: block;
    width: 100%;
    max-width: 0%;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    transform: translateX(-100%);
    animation: revealText 1000ms forwards 1500ms;
}

.create-new-account-container {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 50px;
    right: 75px;
    p {
        font-size: 18px;
        line-height: 24.55px;
        font-weight: 400;
    }

    button {
        font-size: 18px;
        line-height: 21.6px;
        font-weight: 400;
        font-family: 'Figtree', sans-serif;
        color: var(--color-purple-2);
        border: 1px solid transparent;
        padding: 10px 15px;
        a {
            text-decoration: none;
        }
        &:hover {
            border: 1px solid var(--color-black);
            border-radius: 20px;
            color: var(--color-purple-1);
        }
    }
}

.data-links {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 16px;
    bottom: 40px;

    a {
        text-decoration: none;
        padding: 10px 15px;
        color: var(--color-purple-2);
        font-weight: 400;
        font-size: 18px;
        line-height: 21.6px;
        border: 1px solid transparent;

        &:hover {
            border: 1px solid var(--color-black);
            border-radius: 20px;
            color: var(--color-purple-1);
        }
    }
}


@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    99% {
        pointer-events: all;
        touch-action: auto;
    }

    100% {
        opacity: 0;
        pointer-events: none;
        touch-action: none;
        display: none;
    }
}


@keyframes moveToTopLeft {
    0% {
    
    }

    100% {
        top: var(--moveToTop);
        left: var(--changeLeft);
        transform: var(--changeTransform);
        height: 70px;
        font-size: var(--changeFontSize);
        color: var(--color-black);
        gap: 16px;
    }
}

@keyframes moveLogoToLeft {
    100% {
        width: 100%;
    }
}

@keyframes revealText {
    10% {
        max-width: 100%;
    }

    100% {
        max-width: 100%;
        transform: translateX(0%);
    }
}


/* MEDIA QUERY WIDTH */

@media (max-width: 1050px){
    .create-new-account-container{
        top: 15px;
    }
    .intro-logo {
        --moveToTop: 30px;
    }

}
@media (max-width: 768px) {
    section{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        min-height: min-content;
        // height: 100%;
        flex-direction: column;
        gap: 20px;
        overflow: hidden;

    }
    .intro-logo-container {
        position: unset;
        height: 70px;
    }
    .intro-logo-img-mobile{
        height: 70%;
    }   
    .intro-logo-mobile{
        font-size: 40px !important;
    }
    .intro-bg-container {
        animation-duration: 2s;
        min-height: 920px;
        height: 100%;
    }
    .intro-logo {
        --changeLeft: 50%;
        --changeTransform: translate(-50%, 0);
        --changeFontSize: 22px !important;
        animation-duration: 2s;
    }
    .intro-logo-text {
        animation-duration: 500ms;
    }
    .create-new-account-container{
        position: unset;
        transform: unset;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        top: unset;
        right: unset;
        margin-bottom: 20px;
        button{
            border: 1px solid var(--color-black);
            border-radius: 20px;
            &:active{
                background-color: var(--color-purple-1);
                color: var(--color-white);
            }
        }

    }
    .data-links {
        display: none; 
    }
}
@media (max-width: 500px){
    section{
        min-height: 800px;
    }
    .intro-bg-container{
        top: 0;
    }
    .intro-logo-img-mobile{
        width: 56px !important;
        height: 56px !important;
    }   
    .intro-logo-mobile{
        font-size: 32px !important;
    }
}
@media (max-width: 420px){
    .intro-logo {
        --moveToTop: 10px;
    }
}

@media (max-height: 900px){
    section{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        min-height: min-content;
        // height: 100%;
        flex-direction: column;
        gap: 20px;
        overflow: hidden;
    }
    .intro-logo-container {
        position: unset;
        height: 70px;
    }
    .intro-logo-img-mobile{
        height: 70%;
    }   
    .intro-logo-mobile{
        font-size: 40px !important;
    }
    .intro-bg-container {
        animation-duration: 2s;
        min-height: 920px;
        height: 100%;
    }
    .intro-logo {
        --changeLeft: 50%;
        --moveToTop: 10px;
        --changeTransform: translate(-50%, 0);
        --changeFontSize: 22px !important;
        animation-duration: 2s;
    }
    .intro-logo-text {
        animation-duration: 500ms;
    }
    .create-new-account-container{
        position: unset;
        transform: unset;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        top: unset;
        right: unset;
        margin-bottom: 20px;
        button{
            border: 1px solid var(--color-black);
            border-radius: 20px;
            &:active{
                background-color: var(--color-purple-1);
                color: var(--color-white);
            }
        }

    }
    .data-links {
        display: none; 
    }
}

@media (max-height: 660px){
    .create-new-account-container{
        margin-bottom: 0;
    }
}