.front-page-container {
    position: relative;
    width: 100dvh;
    height: 100dvh;
    max-width: 1920px;
}

.intro-bg-container {
    position: absolute;
    height: 100dvh;
    width: 100dvw;
    z-index: 1;
    background: linear-gradient(1.46deg, #313AE6 1.22%, #797EF3 98.76%);
    animation-timing-function: ease-out;
    animation: fadeOut 1s forwards 4000ms;
    pointer-events: none;
    touch-action: none;
}

.intro-logo-container{
    height: 100vh;
    width: 100dvw;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    pointer-events: none;
    touch-action: none;
   
}

.intro-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    animation: moveToTopLeft 1s forwards 4000ms;
    max-width: 696px;
    height: 184px;
    font-size: 90px;
    color: var(--color-white);

}

.intro-logo-img {
    height: 100%;
    aspect-ratio: 1 / 1;
}

.intro-logo-text-container {
    width: 0%;
    max-width: 496px;
    overflow: hidden;
    animation: moveLogoToLeft 1s forwards 500ms;
}

.intro-logo-text {
    display: block;
    width: 100%;
    max-width: 0%;
    margin: 0;
    overflow: hidden;
    transform: translateX(-100%);
    animation: revealText 1000ms forwards 1500ms;
}
.create-new-account-container{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    button{
        a{
            text-decoration: none;
        }
    }
}



@keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

@keyframes moveToTopLeft {
    0% {
        top: 50%;
        bottom: 50%;
    }
    100% {
        top: 75px;
        left: 75px;
        transform: translate(0,0);
        height: 70px;
        font-size: 32px;
        color: var(--color-black);
        gap: 16px
    }
}

@keyframes moveLogoToLeft {
    100% {
        width: 100%;
    }
}

@keyframes revealText {
    10% {
        max-width: 100%;
    }
    100% {
        max-width: 100%;
        transform: translateX(0%);
    }
}

// new account

.create-new-account-container {
    position: absolute;
    top: 75px;
    right: 75px;
}