<section>
    <div class="intro-bg-container">
    </div>
    <div class="intro-logo-container intro-logo-container-mobile">
        <div class="intro-logo intro-logo-mobile">
            <img class="intro-logo-img intro-logo-img-mobile" src="assets/img/logo.png" alt="">
            <div class="intro-logo-text-container">
                <div class="intro-logo-text">DABubble</div>
            </div>
        </div>
    </div>

    <router-outlet></router-outlet>

    <div class="create-new-account-container" [ngClass]="{'d-none': hideElement}">
        <p>Neu bei DABubble?</p>
        <button (click)="goToSignin()">Konto erstellen</button>
    </div>

    <div class="data-links" [ngClass]="{'d-none': hideExtras}">
        <a href="" [routerLink]="['/imprint']">Impressum</a>
        <a href="" [routerLink]="['/privacy-policy']">Datenschutz</a>
    </div>
</section>