<div [ngClass]="isMobile() ? 'log-out-dialog-mobile' : 'log-out-dialog'">
    <div class="dropdown">
        @if(isMobile()){<div class="spacer"></div>}
        @if (userService.currentUser.email == 'guest') {
        <button class="btn-text-v2 fs-24" (click)="logOut()"> @if (isMobile()){<img src="assets/img/logout.png" alt="">}Logout</button>
        }
        @if (userService.currentUser.email != 'guest'){
            <button class="btn-text-v2 fs-24" #profileBtn (click)="openCurrentUser()" appOpenProfile
            [userId]="userService.currentUser.id" [button]="profileBtn">@if(isMobile()){<img src="assets/img/account_circle.png" alt="">} Profil</button>
        <button class="btn-text-v2 fs-24" (click)="logOut()">@if (isMobile()){<img src="assets/img/logout.png" alt="">}Logout</button>
        }
    </div>
</div>