<div class="log-out-dialog">
    <div class="dropdown">
        @if (userService.currentUser.email == 'guest') {
        <button class="btn-text-v2 fs-24" (click)="logOut()">Logout</button>
        }
        @if (userService.currentUser.email != 'guest'){
        <button class="btn-text-v2 fs-24" #profileBtn (click)="openCurrentUser()" appOpenProfile
            [userId]="userService.currentUser.id" [button]="profileBtn">Profil</button>
        <button class="btn-text-v2 fs-24" (click)="logOut()">Logout</button>
        }
    </div>
</div>