@import "../../../../styles.scss";

.menu-channel-container {
  @include dFlex($fd: column, $ai: flex-start, $gap: 25px);
  width: 100%;

  .menu-channel-header {
    @include dFlex($jc: space-between);
    width: 100%;
    padding: 3px 0px;

    .menu-channel-header-left {
      @include dFlex($jc: flex-start, $gap: 15px);
      &:hover {
        color: var(--color-purple-3);
        cursor: pointer;

        .svg-color path {
          fill: var(--color-purple-3);
        }
      }

      .menu-channel-title {
        @include dFlex($jc: flex-start, $gap: 10px);
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      &:hover {
        cursor: pointer;
      }

      &:active {
        color: var(--color-black);
      }
    }
  }
}

.channel-header-direct {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px;
  padding-left: 25px;
}

.channel-member {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-weight: 400;
  border-radius: 30px;
  padding: 4px 20px;
  &:hover {
    background-color: var(--color-bg);
  }
}

.profile-img-container {
  position: relative;
  max-width: 50px;
  max-height: 50px;
  .profile-img {
    width: 50px;
  }
}