@import "../../../../styles.scss";
@import "../../../../assets/scss/mixin.scss";
.scroll-dms{
  @include dFlex($fd: column, $ai: flex-start, $gap: 25px);
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  justify-content: unset;
}
.menu-channel-container {
  @include dFlex($fd: column,$gap: 15px);
  width: 100%;
  height: 50%;

  .menu-channel-header {
    @include dFlex($jc: space-between);
    width: 100%;
    padding: 3px 0px;

    .menu-channel-header-left {
      @include dFlex($jc: flex-start, $gap: 15px);
      &:hover {
        color: var(--color-purple-3);
        cursor: pointer;

        .svg-color path {
          fill: var(--color-purple-3);
        }
      }

      .menu-channel-title {
        @include dFlex($jc: flex-start, $gap: 10px);
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      &:hover {
        cursor: pointer;
      }

      &:active {
        color: var(--color-black);
      }
    }
  }

  .channel-header-direct {
    @include dFlex($fd: column, $ai: flex-start, $gap: 13px);
    width: 100%;
    padding-left: 25px;

    .channel-member {
      @include dFlex($gap: 15px);
      font-weight: 400;
      border-radius: 30px;
      padding: 4px 20px;
      cursor: pointer;
      &:hover {
        background-color: var(--color-bg);
      }
      &.selected {
        background-color: var(--color-bg);
        color: var(--color-purple-3);
        font-weight: 700;
      }
      &:active {
        color: var(--color-purple-3);
      }

      .profile-img-container {
        position: relative;
        max-width: 50px;
        max-height: 50px;
        .profile-img {
          width: 50px;
        }
      }
    }
  }
  .mobile{
    display: none;
    flex-direction: column;
    gap: 10px;
  }
  .not-mobile{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  @media (max-width: 768px){
    .not-mobile{
      display: none;
    }
    .mobile{
      display: flex;
    }
  }
}
