@import "./../../../../styles.scss";
@import "../../../../assets/scss/mixin.scss";

  .search-bar {
    @include dFlex($jc: space-between);
    padding: 17.5px 45px;
    border-radius: 42px;
    background: var(--color-white, #fff);
  
    input {
      width: 100%;
      height: 100%;
      border: none;
      gap: 10px;
      font-size: 18px;
      font-weight: 500;
  
      &:focus {
        outline: none;
      }
    }
  }
