<div class="login-container">
    <h1>Anmeldung</h1>

    <p>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</p>

    <form action="">
        <input type="email" name="" id="" placeholder="beispielname@email.com">
        <!-- <p *ngFor="" class="errorMsg">*Diese E-Mail-Adresse ist leider ungültig.</p> -->


        <input type="password" name="" id="" placeholder="Passwort">
        <!-- <p *ngFor="" class="errorMsg">Falsches Passwort. Bitte noch einmal versuchen.</p> -->
    </form>
    

    <a href="" class="pw-forgot">Passwort vergessen?</a>

    <div class="spacer"><p>ODER</p></div>

    <button class="google-btn"><img src="assets/img/google.png" alt="">Anmelden mit Google</button>

    <div class="login-btns">
        <button class="login-button">Anmelden</button>

        <button class="guest-login" [routerLink]="['/main-page']">Gäste-Login</button>
    </div>

</div>