.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 606px;
    border-radius: 30px;
    background-color: white;
    align-items: center;
    gap: 40px;
    padding: 50px 60px;

    h1 {
        color: var(--color-purple-1);
        font-size: 46px;
        font-weight: 700;
    }

    p {
        // align-items: center;
        text-align: center;
        font-weight: 400;
        font-size: 20px;

    }
}
form{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

input {
    background-color: var(--color-bg);
    width: 500px;
    gap: 6px;
    border-radius: 100px;
    border: unset;
    padding: 20px 70px;
    display: flex;
    align-items: center;
    background-position: left 30px center;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    &::placeholder {
        font-family: 'Nunito';
        font-size: 18px;
        font-weight: 400;
        line-height: 21.6px;

    }

    &:focus {
        border: 1px solid var(--color-purple-2);
        outline: none;
    }
}

input[type="password"] {
    background-image: url("/assets/img/lock.png");
}

input[type="email"] {
    background-image: url("/assets/img/mail.png");
    
}

.errorMsg{
    color: var(--color-error);
}
.pw-forgot {
    text-decoration: none;
    color: var(--color-purple-2);
}

.spacer {
    height: 2px;
    width: 100%;
    background-color: var(--color-light-purple);
    position: relative;
    margin: 30px 0;

    p {
        background-color: white;
        padding: 10px;
        position: absolute;
        left: calc(50% - 40px);
        transform: translate(0, -50%);
    }
}

.google-btn {
    width: 500px;
    border-radius: 100px;
    padding: 11px 32px;
    gap: 20px;
    background-color: var(--color-bg);
    color: var(--color-purple-1);
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 38px;
        height: 38px;
    }

    &:focus {
        border: 1px solid var(--color-bg);
    }

}

.login-btns {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.login-button {
    background-color: var(--color-purple-1);
    color: white;
    border-radius: 25px;
    padding: 12px 25px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24.55px;
}

.guest-login {
    background-color: rgba(0, 0, 0, 0);
    color: var(--color-purple-1);
    border: 1px solid var(--color-purple-1);
    border-radius: 25px;
    padding: 12px 25px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24.55px;
}