<div class="login-container">
    <h1>Anmeldung</h1>
    <p>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</p>
    <input type="email" name="" id="" placeholder="beispielname@email.com">
    <input type="password" name="" id="" placeholder="Passwort">
    <a href="" class="pw-forgot">Passwort vergessen?</a>
    <div class="spacer">ODER</div>
    <button class="google-btn">Anmelden mit Google</button>
    <div class="login-btns">
        <button class="login-button">Anmelden</button>
        <button class="guest-login">Gäste-Login</button>
    </div>
</div>