.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 606px;
    border-radius: 30px;
    background-color: white;
    align-items: center;
    gap: 20px;
    padding: 20px 60px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
    h1 {
        color: var(--color-purple-1);
        font-size: 46px;
        font-weight: 700;
    }

    >p {
        text-align: center;
        font-weight: 400;
        font-size: 20px;

    }
}

form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 20px;
    >div{
        position: relative;
        gap: 4px;
    }
}

input {
    background-color: var(--color-bg);
    width: 500px;
    gap: 6px;
    border-radius: 100px;
    border: unset;
    padding: 20px 70px;
    display: flex;
    align-items: center;
    background-position: left 30px center;
    background-size: 24px 24px;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    &::placeholder {
        font-family: 'Nunito';
        font-size: 18px;
        font-weight: 400;
        line-height: 21.6px;

    }
    &:hover{
        border: 1px solid var(--color-black);
    }
    &:focus {
        border: 1px solid var(--color-purple-2);
        outline: none;
        font-weight: 700;
    }
    &:active{
        color: var(--color-black);
    }
}

input[type="password"] {
    background-image: url("/assets/img/lock.png");
    &:focus{
        background-image: url("/assets/img/lock_b.png");
    }
}


.iconOverlay{
    position: absolute;
    left: 30px;
    top: 19px;
}

.errorMsg{
    position: absolute;
    color: var(--color-error);
    font-size: 14px;
    margin-top: 4px;
}
.pw-forgot {
    text-decoration: none;
    color: var(--color-purple-2);
    padding: 5px 15px;
    &:hover{
        font-weight: 700;
        background-color: var(--color-bg);
        border-radius: 20px;
    }
}

.spacer {
    height: 2px;
    width: 100%;
    background-color: var(--color-light-purple);
    position: relative;
    margin: 30px 0;

    p {
        background-color: white;
        padding: 10px;
        position: absolute;
        left: calc(50% - 40px);
        transform: translate(0, -50%);
    }
}

.google-btn {
    width: 500px;
    border-radius: 100px;
    padding: 11px 32px;
    gap: 20px;
    background-color: var(--color-bg);
    color: var(--color-purple-1);
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    img {
        width: 38px;
        height: 38px;
    }

    &:hover {
        border: 1px solid var(--color-purple-1);
        font-size: 18px;
        font-weight: 700;
    }

}

.login-btns {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
@media (max-width: 768px) {
    .login-container{
       padding: 30px 16px;
       height: auto; 
    }
}
@media (max-width: 630px) {
    .login-container{
        width: calc(100dvw - 32px);
        >p{
            width: 90%;
        }
    }
    form{
        width: 90%;
        >div{
            width: 100%;
            input{
                width: 100%;
            }
        }

    }
    .errorMsg{
        text-align: start;
        width: 90%;
    }
    .google-btn{
        width: 90%;
    }
}
@media (max-width: 500px) {
    .login-container{
        gap: 15px;
        h1{
            font-size: 32px;
        }
        >p{
            font-size: 17px;
        }
    }
    form{
        gap: 30px;
        margin-bottom: 10px;
        >div{
            input{
                background-position: left 20px center;
                padding: 13px 32px 13px 70px;
                text-align: start;
                &::placeholder {
                    font-size: 16px;
                }
            }
        }
    }
    .iconOverlay{
        left: 22px;
        top: 13px;
    }
    .spacer{
        margin: 20px 0;
    }
}
@media (max-width: 420px) {
    form{
        >div{
            input{
                padding: 13px 24px 13px 55px;
            }
        }
    }
    .google-btn{
        padding: 11px 24px;
        font-size: 16px;
        gap: 10px;
        img{
            width: 32px;
            height: 32px;
        }
    }
    .login-btns{
        gap: 0;
        width: 85%;
        justify-content: space-between;
        button{
            font-size: 16px;
            padding: 8px 16px;
        }
    }
    .errorMsg{
        font-size: 12px;
    }
}
@media (max-width: 350px) {
    .login-container{
        padding: 20px 16px;
        h1{
            font-size: 30px;
        }
        >p{
            font-size: 15px;
        }
    }
    form{
        gap: 20px;
        >div{
            input{
                background-position: left 15px center;
                padding: 13px 24px 13px 50px;
                &::placeholder {
                    font-size: 14px;
                }
            }
        }
    }
    .iconOverlay{
        left: 16px;
    }
    .errorMsg{
        font-size: 10px;
    }
    .login-btns{
        flex-direction: column;
        align-items: center;
        gap: 20px;
        button{
            width: 70%;
        }
    }
    .google-btn{
        padding: 11px 20px;
        width: 100%;
        &:hover{
            font-size: 16px;
        }
        >img{
            display: none;
        }
    }

}

@media (max-height: 660px) {
    .login-container{
        position: relative;
        top: 0px;
        transform: translate(-50%, 0);
    }
}
