<app-header></app-header>
<div class="imprint-container">
    <button class="back-to-login btn-icon" (click)="goBack()"><img src="assets/img/arrow_back.svg" class="" alt=""></button>
    <h1>Impressum</h1>
    <div class="names">
        <span>Bari Sopa</span>
        <span>Ricardo Geada</span>
        <span>Guiseppe Cino</span>
        <span>Mesut Özertürk [Mentor]</span>
    </div>
    <div class="adress">
        <span>PLZ und Stadt</span>
    </div>
    <h2>Contact</h2>
    <span>Email: <a class="mail-link" href="mailto:DEINEADRESSE@hotmail.com">EMAILADRESSE</a></span>
</div>