@import "../../../../styles.scss";
@import "../../../../assets/scss/mixin.scss";
@import "../../main-menu/main-menu-channels/add-member-card/add-member-card.component.scss";

.dialog-add-member {
  margin-top: 0;

  .channel-name-container {
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--color-purple-2);
    svg path {
      fill: var(--color-purple-2);
    }
    .channel-name {
      height: 18px;
    }
  }
}