@import "../../../../styles.scss";
@import "../../../../assets/scss/mixin.scss";
@import "../../main-menu/main-menu-channels/add-member-card/add-member-card.component.scss";

.dialog-add-member {
  margin-top: 0;

  .channel-name-container {
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--color-purple-2);

    svg path {
      fill: var(--color-purple-2);
    }

    .channel-name {
      height: 18px;
      cursor: default;
    }
  }
}



@media (max-width: 768px) {
  .dialog-add-member {
    width: calc(100dvw - 20px);
    position: relative;
    left: 10px;
    top: 220px;
    border-radius: 30px 0 30px 30px;

    .channel-name-container {
      display: none;
    }
  }

  .input-container {
    padding: 0 15px;

    .relative {
      padding-top: 5px;
    }
  }

  .users-list-container {
    max-height: 300px;

    .users-list {
      max-height: 290px;
      overflow: hidden;
    }
  }

}

@media (max-width: 400px) {
  .dialog-add-member {
    padding: 30px 16px;

    .dialog-header {
      margin-top: 0;
    }
  }

  .input-container {
    .users-list-container {
      margin-left: 0;
      padding: 5px 5px;
      width: 80dvw;
    }
  }
}