.signin-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    background-color: white;
    gap: 20px;
    padding: 40px 30px;
    width: 606px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);

    h1 {
        color: var(--color-purple-1);
        font-size: 46px;
        font-weight: 700;
    }

    >p {
        text-align: center;
        font-weight: 400;
        font-size: 20px;
        width: 90%;
    }
}

.back-to-login {
    position: absolute;
    left: 32px;
    top: 50px;
    width: 40px;
    height: 40px;

    img {
        width: 24px !important;
        height: 24px !important;

    }
}

form {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 20px;

    >div {
        position: relative;
        gap: 4px;

        >input {
            background-color: var(--color-bg);
            width: 500px;
            gap: 10px;
            padding: 20px 70px;
            border-radius: 100px;
            border: unset;
            display: flex;
            align-items: center;
            background-position: left 30px center;
            background-size: 24px 24px;
            background-repeat: no-repeat;
            border: 1px solid transparent;

            &::placeholder {
                font-family: 'Nunito';
                font-size: 18px;
                font-weight: 400;
                line-height: 21.6px;

            }
            &:hover{
                border: 1px solid var(--color-black);
            }
            &:focus{
                border: 1px solid var(--color-purple-2);
                outline: none;
                font-weight: 700;
            }
        }
    }
}

.errorMsg {
    position: absolute;
    color: var(--color-error);
    font-size: 14px;
    margin-top: 4px;
}
.passErrorMsg{
    position: absolute;
    color: var(--color-error);
    font-size: 14px;
    margin-top: 4px;

}


input[type="password"] {
    background-image: url("/assets/img/lock.png");
    &:focus{
        background-image: url("/assets/img/lock_b.png");
    }
}


.iconOverlay{
    position: absolute;
    left: 30px;
    top: 19px;
}

.check-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 500px;
    gap: 8px;
    position: relative;

    input[type="checkbox"] {
        width: 18px;
        height: 18px;
        position: relative;
        cursor: pointer;
        appearance: none;
        border: 2px solid var(--color-purple-2);
        background-size: contain;
        background-color: rgba(0, 0, 0, 0) !important;

        &:checked {
            background: url('/assets/img/checked.png') no-repeat center center;

            &:hover {
                background-color: var(--color-bg) !important;
            }

            &::after {
                content: "";
                position: absolute;
                top: -7.5px;
                left: -7.5px;
                width: calc(100% + 15px);
                height: calc(100% + 15px);
                background-color: transparent !important;
                border-radius: 50%;
                z-index: -1;
            }

            &:hover::after {
                background-color: var(--color-bg) !important;
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: -7.5px;
            left: -7.5px;
            width: calc(100% + 15px);
            height: calc(100% + 15px);
            background-color: transparent !important;
            border-radius: 50%;
            z-index: -1;
        }

        &:hover::after {
            background-color: var(--color-bg) !important;
        }
    }

    p {
        font-size: 16px;
        font-weight: 400;
        line-height: 19.2px;
    }

    a {
        text-decoration: none;
        color: var(--color-purple-2);
        padding: 0 2px;

        &:hover {
            font-weight: 700;
            background-color: var(--color-bg);
            border-radius: 10px;
        }
    }
}


#checkbox.hover-effect::after {
    content: "";
    position: absolute;
    top: -7.5px;
    left: -7.5px;
    width: calc(100% + 15px);
    height: calc(100% + 15px);
    background-color: var(--color-bg) !important;
    border-radius: 50%;
    z-index: -1;
}
#link.hover-effect::after{
    font-weight: 700;
    background-color: var(--color-bg);
    border-radius: 10px;
}


.next-btn-container {
    width: 500px;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 630px) {
    .signin-container{
        width: calc(100dvw - 32px);
        padding: 30px 16px;
        height: 100%;
        >p{
            width: 90%;
        }
    }
    .back-to-login {
        top: 40px;
        img{
            width: 20px !important;
            height: 20px !important;
        }

    }
    form{
        width: 90%;
        >div{
            width: 100%;
            input{
                width: 100%;
            }
        }

    }
    .check-div{
        display: none;
    }
    .errorMsg{
        text-align: start;
        width: 90%;
    }
    .passErrorMsg{
        text-align: start;
        width: 60%;
    }
    .next-btn-container{
        width: 90%;
    }
}
@media (max-width: 520px) {
    .back-to-login {
        top: 30px;
        >img{
            width: 20px !important;
            height: 20px !important;

        }
    }
    .signin-container{
        h1{
            font-size: 32px;
        }
        >p{
            font-size: 17px;
        }
    }
    form{
        gap: 30px;
        margin-bottom: 10px;
        >div{
            input{
                background-position: left 20px center;
                padding: 13px 32px 13px 70px;
                text-align: start;
                &::placeholder {
                    font-size: 16px;
                }
            }
        }
    }
    .iconOverlay{
        left: 22px;
        top: 13px;
    }
    input[type="name"]{
        &:focus{
            background-position: left 24px center !important;
        }
    }
    .back-to-login{
        left: 16px;
    }
}
@media (max-width: 420px) {
    .signin-container{
        padding: 20px 16px;
        h1{
            font-size: 30px;
        }
        >p{
            font-size: 15px;
        }
    }
    form{
        >div{
            input{

                padding: 13px 24px 13px 55px;

            }
        }
    }
    .errorMsg, .passErrorMsg{
        font-size: 12px;
    }
    .next-btn-container{
        >button{
            padding: 10px 20px;
            font-size: 16px;
        }
    }
    .back-to-login {
        left: 10px;
        >img{
            width: 16px !important;
            height: 16px !important;

        }
    }
}
@media (max-width: 350px) {
    .back-to-login {
        top: unset;
        bottom: 10px;
        left: 24px;
    }
    form{
        gap: 20px;
        >div{
            input{
                background-position: left 15px center;
                padding: 13px 24px 13px 50px;
                &::placeholder {
                    font-size: 14px;
                }
            }
        }
    }
    .iconOverlay{
        left: 16px
    }
    .errorMsg, .passErrorMsg{
        font-size: 10px;
    }
    input[type="name"]{
        &:focus{
            background-position: left 19px center !important;
        }
    }
}