@import "../../../assets/scss/mixin.scss";

.show-profile-dialog {
  display: inline-flex;
  flex-direction: column;
  gap: 45px;
  padding: 45px 40px;
  border-radius: 30px 30px 30px 30px;
  background-color: var(--color-white);
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);

  .profile-head {
    width: 100%;
    @include dFlex($jc: space-between);

    .profile-headline {
      color: var(--color-black);
      font-family: Nunito;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      cursor: default;
    }
  }

  .img-container {
    width: 100%;
    @include dFlex($fd: column, $gap: 20px);
    position: relative;
    &:hover {
      background-color: rgba(0,0,0,0.1);
      background-image: url('/assets/img/edit.png');
      background-position: bottom right;
      background-repeat: no-repeat;
      background-size: 40px 40px;
    }

    .profile-img {
      width: 200px;
      height: 200px;
      flex-shrink: 0;
      cursor: pointer;
      
    }
  }

  .editing-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;

    .email-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 7px;
      width: 100%;

      .email {
        display: flex;
        align-items: flex-end;
        gap: 20px;
        align-self: stretch;

        svg {
          width: 30px;
          height: 30px;
          path {
            fill: var(--color-black);
          }
        }

        .email-label {
          color: var(--color-black);
          font-family: Nunito;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          cursor: default;
        }
      }

      .input-field {
        display: flex;
        width: 100%;
        max-width: 420px;
        padding: 15px 20px;
        align-items: flex-start;
        gap: 10px;
        border-radius: 30px;
        border: 1px solid var(--color-light-purple);
        cursor: pointer;

        input {
          width: 100%;
          height: 100%;
          border: none;
          font-weight: 500;
          font-size: 18px;
          cursor: pointer;

          &::placeholder {
            color: var(--color-gray);
            font-family: Nunito;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
          }

          &:focus {
            outline: none;
          }
        }
      }
    }
  }

  .btn-wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }
}

.change-avatar{
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100px;
  gap: 10px;
  background-color: var(--color-white);
  padding: 20px 20px 130px 20px;
  border-radius: 30px;
  border: 1px solid var(--color-light-purple);
  top: 200px;
  .avatar-list{
    display: flex;
    flex-direction: row;
    gap: 10px;
    button{
      img{
        border-radius: 30px;
        width: 50px;
        height: 50px;
      }
      
    }  
  }
  .upload-container{
    display: flex;
    justify-content: center;
  }
}

.form {
  display: inline-flex;
  flex-direction: column;
  gap: 45px;
}

.errorMsg{
  color: var(--color-error);
  font-size: 16px;
  font-weight: 500;

}
@media (max-width: 768px){
  .show-profile-dialog {
    max-width: 500px;
    width: 100dvw;
    border-radius: 30px;
  }
  .editing-container{
    align-items: center !important;
  }
}
@media (max-width: 500px){
  .show-profile-dialog {
    max-width: 95dvw;
    width: 95dvw;
    padding: 30px 20px;
    gap: 35px;
  }
  
}
@media(max-width: 400px ){
  .show-profile-dialog{
    padding: 20px 10px;
    .profile-head{
      .profile-headline{
        font-size: 20px;
      }
    }
    .editing-container{
      .email-container{
        .input-field{
          >input{
            font-size: 16px;
          }
        }
        .email{
          .email-label{
            font-size: 18px;
          }
        }
      }
    }
    .btn-wrapper{
      justify-content: space-between;
      gap: unset;
    }
  }
  .btn-primary, .btn-secondary{
    padding: 10px 20px;
    font-size: 16px;
  }
}