<div class="main-page">
  <!-- Header -->
  <div class="header-placeholder">
    header-placeholder
  </div>
  <!-- Content -->
  <div class="content">
    <!-- main-menu -->
    <div class="main-menu-placeholder">
        main-menu-placeholder
    </div>
    <!-- channel -->
    <app-channel class="channel"></app-channel>
    <!-- thread -->
  @if(!threadClosed) {
   <app-channel class="thread" [channelType]="'thread'" (closeThreadEvent)="isThreadClosed($event)"></app-channel>
  }
      

  </div>
</div>
