@import "../../styles.scss";
@import "../../assets/scss/mixin.scss";

.main-page {
  padding: 20px;
  background-color: var(--color-bg);
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 100%;
  max-height: calc(100% - 90px);
  flex-grow: 1;
  overflow: hidden;
}
.menu-overlay {
  position: fixed;
  top: 50%;
  left: -150px;
  transform: translateY(-50%) rotate(-90deg);
  width: 350px;
  z-index: 1000;
  border-radius: 0px 0px 30px 30px;
  padding: 8px 20px 8px 20px;
  box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.2);

  mat-card-title {
    @include dFlex($ai: center, $gap: 10px);
    font-size: 20px;

    svg {
      rotate: 90deg;
    }
  }

  &:hover {
    cursor: pointer;
    box-shadow: 4px 4px 7px 1px rgba(0, 0, 0, 0.3);

    mat-card-title {
      color: var(--color-purple-3);
    }

    .svg-color path {
      fill: var(--color-purple-3);
    }
  }
}
.main-menu {
  height: 100%;
  width: 366px;
  flex-shrink: 0;
  overflow-x: hidden;
  transition: transform 0.3s ease-out, width 0.3s ease-out;
}

.channel {
  flex-grow: 1;
  width: 100%;
  height: 100%;

  transition: margin-left 0.3s ease-out;
  overflow-y: auto;
}

.thread {
  min-width: 485px;
  height: 100%;
}
.main-menu-hidden {
  transform: translateX(-110%);
  width: 0;
  overflow: hidden;
}
@media (max-width: 1080px){
  .thread {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: unset;
    min-width: 290px;
  }
  .content {
    position: relative;
  }
}

@media (max-width: 768px) {
  .main-page {
    padding: 0;
    gap: 0;
  }

  .content {
    gap: unset;
    margin-top: 120px;
    max-height: calc(100% - 120px);
    position: relative;
  }

  .channel-expanded {
    width: 100%;
  }

  .menu-overlay {
    position: fixed;
    top: 50%;
    left: -150px;
    transform: translateY(-50%) rotate(-90deg);
    width: 350px;
    z-index: 1000;
    border-radius: 0px 0px 30px 30px;
    padding: 8px 20px 8px 20px;
    box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.2);

    mat-card-title {
      @include dFlex($ai: center, $gap: 10px);
      font-size: 20px;

      svg {
        rotate: 90deg;
      }
    }

    &:hover {
      cursor: pointer;
      box-shadow: 4px 4px 7px 1px rgba(0, 0, 0, 0.3);

      mat-card-title {
        color: var(--color-purple-3);
      }

      .svg-color path {
        fill: var(--color-purple-3);
      }
    }
  }

  .main-menu {
    width: 100dvw;
    position: absolute;
    top: 0;
  }

  .menu-overlay {
    display: none;
  }
}
@media (max-width: 420px){
  .content{
    margin-top: 100px;
  }
}