@import "../../../../styles.scss";
@import "../../../../assets/scss/mixin.scss";
.scroll-channels{
  @include dFlex($fd: column, $ai: flex-start, $gap: 25px);
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  justify-content: unset;
  background-color: whitesmoke; // VIELLEICHT
}
.menu-channel-container {
  @include dFlex($fd: column,$gap: 15px);
  width: 100%;
  height: 50%;

  .menu-channel-header {
    @include dFlex($jc: space-between);
    width: 100%;
    padding: 3px 0px;

    .menu-channel-header-left {
      @include dFlex($jc: flex-start, $gap: 15px);

      &:hover {
        color: var(--color-purple-3);
        cursor: pointer;

        .svg-color path {
          fill: var(--color-purple-3);
        }
      }

      .menu-channel-title {
        @include dFlex($jc: flex-start, $gap: 10px);
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      &:hover {
        cursor: pointer;
      }

      &:active {
        color: var(--color-black);
      }
    }
  }

  .menu-channel-content,
  .menu-channel-content-mobile {
    @include dFlex($fd: column, $ai: flex-start, $gap: 13px);
    font-size: 18px;
    font-weight: 400;
    padding-left: 25px;

    .channel {
      @include dFlex($jc: flex-start, $gap: 15px);
      border-radius: 20px;
      padding: 4px 20px;
      background-color: transparent;
      &:hover,
      &.active {
        background-color: var(--color-bg);
        cursor: pointer;

        .svg-color path {
          fill: var(--color-purple-3);
        }

        .channel-name {
          color: var(--color-purple-3);
          font-weight: 700;
        }
      }
    }

    .channel-name {
      color: var(--color-black);
      font-weight: 700;
    }
  }

  .menu-channel-add-container {
    padding-left: 25px;

    .menu-channel-add {
      @include dFlex($jc: flex-start, $gap: 15px);
      border-radius: 20px;
      padding: 4px 20px;

      .channel-add-text {
        font-size: 18px;
      }

      &:hover {
        color: var(--color-purple-3);
        cursor: pointer;

        .svg-color path {
          fill: var(--color-purple-3);
        }

        .svg-color {
          transform: scale(1.1);
          transition: transform 0.3s ease;
        }
      }

      &:active {
        color: var(--color-black);
      }
    }
  }
}

.menu-channel-content-mobile {
  display: none !important;

}



@media (max-width: 1024px) {
  .menu-channel-content {
    display: none !important;
  }

  .menu-channel-content-mobile {
    display: flex !important;
  }


}

@media (max-width: 400px) {
  .menu-channel-container {

    .menu-channel-content-mobile {
      padding-left: 10px;
    }
  }
}