@import "../../../../../styles.scss";
@import "../../../../../assets/scss/mixin.scss";

.mat-card-custom {
  @include dFlex($fd: column, $ai: flex-end, $gap: 20px);
  width: 100%;
  min-width: 450px;
  height: 100%;
  padding: 40px;
  border-radius: 20px;
  background: var(--color-white);
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.2);

  .mat-card-title-custom {
    @include dFlex($jc: space-between);
    align-self: stretch;

    .mat-dialog-title-custom {
      color: var(--color-black);
      font-family: Nunito;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin: 0;
      padding: 0;
    }

    .close-icon-custom {
      cursor: pointer;
    }
  }

  .description-text {
    color: var(--color-black);
    font-family: Nunito;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .mat-dialog-content-custom {
    @include dFlex($fd: column, $ai: flex-start, $gap: 20px);
    width: 100%;
    padding: 0;

    .input-label {
      color: var(--color-black);
      font-family: Nunito;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    .input-wrapper {
      display: flex;
      width: 100%;
      gap: 15px;
      padding: 18px 20px;
      border: 1px solid var(--color-light-purple);
      border-radius: 40px;
    }

    .input-description {
      width: 100%;
      font-weight: 400;
      border: none;
      outline: none;
      font-size: 18px;
    }
  }
}
.error-text{
  color: var(--color-error);
}


@media (max-width: 768px) {

  .mat-card-custom{
    justify-content: unset;
    width: 100dvw;
    height: 100dvh;
    min-width: 100dvw;
    border-radius: 0;
    gap: 0;


    .mat-card-title-custom{
      margin-bottom: 40px;
    }
    .mat-dialog-content-custom{
      justify-content: unset;
      align-items: unset;
      padding: 20px 0;
      flex-grow: unset;
    }
  }



}