@import "../../../app/main-page/main-header/search-bar/search-bar.component.scss";

.channel-container {
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}

/*-- channel header --*/
.channel-header {
  padding: 25px 45px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-direct {
    @extend .channel-header;
    padding: 32px 45px 20px 45px;
  }
  &-thread {
    @extend .channel-header;
    padding: 32px 40px;
  }
  &-new {
    @extend .channel-header;
    padding: 32px 45px 20px 45px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
  }
}

/*-- channel header - main --*/ 
.channel-name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  padding: 6px 10px;
  font-weight: 700;
  width: fit-content;
  &:hover {
    background-color: var(--color-bg);
    color: var(--color-purple-3);
    svg path {
      stroke: var(--color-purple-3);
      stroke-width: 0.5px;
      fill: var(--color-purple-3);
    }
  }
  &:active {
    background-color: transparent;
    color: var(--color-black);
    svg path {
      stroke: var(--color-black);
      stroke-width: 0px;
      fill: var(--color-black);
    }
  }
}

.hashtag-icon {
  width: 32px;
  height: 32px;
}

.channel-members-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.channel-members-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  padding: 3px 10px;
  cursor: pointer;
  &:hover {
    background-color: var(--color-bg);
    .channel-members-count {
      font-weight: 700;
    }
  }
}

.channel-members-preview {
  display: inline-flex;
  flex-direction: row-reverse;
  > :not(:last-child) {
    margin-left: -12px;
  }
}

.channel-members-count {
  font-weight: 600;
  &:hover {
    font-weight: 700;
  }
}

/*-- channel header - direct --*/
.channel-member {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  font-weight: 700;
  border-radius: 30px;
  padding: 4px 8px;
  &:hover {
    background-color: var(--color-bg);
  }
}

.profile-img-container {
  position: relative;
  max-width: 50px;
  max-height: 50px;
  .profile-img {
    width: 50px;
  }
}

/*-- channel header - thread --*/
.channel-headline-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  .channel-headline {
    font-weight: 700;
  }
  .hashtag-icon {
    width: 16px;
    height: 16px;
    path {
        fill: var(--color-purple-2);
    }
  }
  .channel-name {
    color: var(--color-purple-2);
  }
}

/*-- channel header - new --*/

// input-container
.channel-header-new {
    .input-container {
        width: 100%;
    }
}
.input-container {
    border: 1px solid var(--color-light-purple);
    padding: 15px 20px;
    border-radius: 30px;
    &:hover {
        border-color: var(--color-purple-2);
    }
    &:focus-within {
        border-color: var(--color-purple-3);
    }
}

input, textarea {
    width: 100%;
    border: none;
    outline: none;
    font-size: 18px;
    line-height: 24.55px;
    &::placeholder {
        font-family: "Nunito", "Helvetica Neue", sans-serif;
        color: var(--color-gray);
    }
    &:focus::placeholder {
        color: transparent;
    }
}

/*-- channel messages --*/ 
.channel-messages-container {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    .channel-messages-content {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
}

.channel-info-container {
  margin-top: auto;
  padding: 20px 45px 0;
  .channel-name-container {
    background-color: transparent;
    padding: 0;
    margin-bottom: 7px;
    align-items: flex-end;
  }
  .channel-info {
    color: var(--color-gray);
    .channel-name-container {
      display: inline-flex;
      margin-bottom: 0;
      gap: 0px;
      font-weight: 400;
      color: var(--color-purple-3);
      path {
        fill: var(--color-purple-3);
        stroke-width: 0px !important;
      };
      .hashtag-icon {
        align-items: baseline;
        width: 20px;
        height: 20px;
        margin-bottom: 0;
        position: relative;
        top: 4px;
        margin: 0 3px;
      };
      .channel-name {
        height: 20px;
      }
    }
  }
}

.time-separator {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 45px;
  .h-line {
    height: 1px;
    flex-grow: 1;
    background-color: var(--color-light-purple);
  }
  .message-time {
    max-width: max-content;
    width: 100%;
    padding: 5px 15px;
    border-radius: 30px;
    border: 1px solid var(--color-light-purple);
    background-color: var(--color-white);
  }
}

// 

/*-- channel-footer --*/ 
.channel-footer {
    padding: 40px 45px;
}

.message-input-container {
    border: 1px solid var(--color-light-purple);
    border-radius: 20px;
    padding: 20px;
    &:hover {
        border-color: var(--color-purple-2);
    }
    &:focus-within {
        border-color: var(--color-purple-1);
    } 
    textarea {
        width: 100%;
        min-height: 50px;
        max-height: 200px;
        resize: vertical;
        padding-right: 10px;
    } 
}

.message-input-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .separator-v {
    width: 1px;
    height: 40px;
    background-color: var(--color-light-purple);
  }
  .btn-send-message {
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      svg path {
        fill: var(--color-purple-2);
      }
    }
    &:disabled {
      svg path {
        fill: var(--color-gray);
      }
    } 
  }
}




.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.loading-spinner {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
.mobile{
  display: none;
}

.search-container {
  position: absolute;
  top: 140px;
  left: 0;
  width: 80%;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 768px) {
  .channel-container{
    border-radius: 0;
  }
  .btn-icon-v4, .channel-members-info{
    display: none;
  }
  .mobile{
    display: flex;
  }
}