/* You can add global styles to this file, and also import other style files */

/* nunito-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/nunito-v26-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nunito-600 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/nunito-v26-latin-600.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* nunito-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/nunito-v26-latin-700.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --color-white: #ffffff;
  --color-bg: #eceefe;
  --color-light-purple: #adb0d9;
  /* lines */
  --color-black: #000000;
  --color-gray: #686868;
  --color-purple-1: #444df2;
  --color-purple-2: #797ef3;
  --color-purple-3: #535af1;
  --color-online: #92c83e;
  --color-error: #ed1e79;
  --color-email: #1381ff;

  /* kreyframes */
  --moveToTop: 65px;
  --changeLeft: 75px;
  --changeTransform: translate(0, 0);
  --changeFontSize: 32px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", "Helvetica Neue", sans-serif !important;
}

html,
body {
  height: 100vh;
  width: 100%;
  background-color: var(--color-bg);
}

/* fonts */
.fs {
  &-46 {
    @extend .fs;
    font-size: 46px;
    line-height: 55.2px; //1.2
  }

  &-38 {
    font-size: 38px;
    line-height: 45.6px;
  }

  &-32 {
    font-size: 32px;
    line-height: 38.4px;
  }

  &-26 {
    font-size: 26px;
    line-height: 31.2px;
  }

  &-24 {
    font-size: 24px;
    line-height: 32.74px;
  }

  &-22 {
    font-size: 22px;
    line-height: 26.4px;
  }

  &-20 {
    font-size: 20px;
    line-height: 27.28px;
  }

  &-18 {
    font-size: 18px;
    line-height: 21.6px;
  }
  &-16 {
    font-size: 16px;
    line-height: 21.82px;
  }
  &-15 {
    font-size: 15px;
    line-height: 18px;
  }
  &-14 {
    font-size: 14px;
    line-height: 19.1px;
  }
  &-12 {
    font-size: 12px;
    line-height: 14.4px;
  }
}

/* button */
button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 12px 25px;
  border-radius: 50px;
  font-weight: 700;
  border: 1px solid transparent;

  &-primary {
    @extend .btn;
    color: var(--color-white);
    background-color: var(--color-purple-1);

    &:hover {
      background-color: var(--color-purple-2);
    }

    &:active {
      background-color: var(--color-purple-1);
    }

    &:disabled {
      background-color: var(--color-gray);
      cursor: unset;
    }
  }

  &-secondary {
    @extend .btn;
    color: var(--color-purple-1);
    background-color: transparent;
    border: 1px solid var(--color-purple-2);

    &:hover {
      color: var(--color-white);
      background-color: var(--color-purple-3);
      border-color: var(--color-purple-3);
    }

    &:active {
      color: var(--color-white);
      background-color: var(--color-purple-1);
      border-color: var(--color-purple-1);
    }

    &:disabled {
      color: var(--color-gray);
      background-color: transparent;
      border-color: var(--color-gray);
      cursor: unset;
    }
  }

  &-icon {
    @extend .btn;
    border-radius: 100%;
    aspect-ratio: 1 / 1;
    padding: 0;
    margin: 0;
    width: 32px;
    background-color: transparent;

    &:hover {
      background-color: var(--color-bg);

      svg path,
      svg rect {
        stroke: var(--color-purple-3);
        stroke-width: 0.5px;
        fill: var(--color-purple-3);
      }
    }

    &-v2 {
      @extend .btn-icon;

      &:active {
        background-color: transparent;

        svg path {
          stroke: var(--color-black);
          stroke-width: 0.5px;
          fill: var(--color-black);
        }
      }
    }

    &-v3 {
      @extend .btn-icon;

      &:active {
        background-color: var(--color-bg);

        svg path {
          stroke: var(--color-black);
          stroke-width: 0.5px;
          fill: var(--color-black);
        }
      }
    }

    &-v4 {
      @extend .btn-icon;
      background-color: var(--color-bg);
    }
    &-v5 {
      @extend .btn-icon;
      background-color: var(--color-white);
    }
  }
}

.btn-icon-v6 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  aspect-ratio: 1 / 1;
  width: 32px;
  background-color: transparent;
  &:hover {
    background-color: var(--color-bg);
  }
}

.btn-text {
  color: var(--color-purple-3);
  &:hover {
    font-weight: 700;
    color: var(--color-purple-1);
  }
  &-v2 {
    @extend .btn-text;
    width: max-content;
    padding: 10px 20px;
    border-radius: 100px;
    font-weight: 600;
    &:hover {
      background-color: var(--color-bg);
    }
  }
  &-v3 {
    @extend .btn-text;
    width: max-content;
    font-weight: 600;
  }
}

/* width classes*/
.w40 {
  width: 40px !important;
}

.w100 {
  width: 100px !important;
}

/* profile img */
.profile-img {
  border-radius: 100%;
  width: 40px;
  aspect-ratio: 1 / 1;
  object-fit: cover;

  &-wborder {
    @extend .profile-img;
    border: 2px solid var(--color-white);
  }
}

/* online status */
.online-status {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: var(--color-gray);
  position: absolute;
  bottom: 0;
  right: 0;

  &-wborder {
    @extend .online-status;
    border: 2px solid var(--color-white);
  }
}

.online {
  background-color: var(--color-online) !important;
}

.offline {
  background-color: var(--color-gray) !important;
}

.status-active {
  color: var(--color-online);
}

.status-offline {
  color: var(--color-gray);
}

/* For Webkit browsers like Chrome and Safari */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-button{
  display: none;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.02);
  
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-light-purple);
  border-radius: 30px;
}
/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-light-purple) rgba(0, 0, 0, 0.02);
  // scrollbar
}

/* For IE and Edge */
* {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

/* generic classes */

.d-none {
  display: none !important;
}

.mdc-snackbar__surface,
.mdc-snackbar__surfac::before {
  box-shadow: unset !important;
  background-color: transparent !important;
}

.mat-typography p {
  margin: 0;
}

.custom-dialog {
  .mat-mdc-dialog-container .mdc-dialog__container .mat-mdc-dialog-surface {
    background-color: transparent;
    box-shadow: none;
    // width: fit-content;
    // height: fit-content;
    overflow: visible;
  }
  &-mobile {
    @extend .custom-dialog;
  }

  &-anchorTopLeft {
    @extend .custom-dialog;
    margin-right: 16px;
    // position: absolute !important;
    &-mobile {
      @extend .custom-dialog-anchorTopLeft;
      margin-right: 0;
    }
  }
  &-anchorTopRight {
    @extend .custom-dialog;
    margin-left: 16px;
    // position: absolute !important;
    // transform: translateX(-100%);
    &-mobile {
      @extend .custom-dialog-anchorTopRight;
      margin-left: 0;
    }
  }
}

/* flex mixin TODO: remove */ 
@mixin dFlex($fd: row, $jc: center, $ai: center, $gap: 0) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
  gap: $gap;
}

app-login,
app-sign-in,
app-reset-password,
app-check-email,
app-avatar {
  height: 100dvh;
  // height: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
app-privacy-policy{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 150px;
  margin-bottom: 100px;
}

@media (max-width: 768px) {

  .cdk-overlay-pane{
    max-width: 100dvw !important;
    width: unset !important;
  }
  .custom-dialog {
    &-anchorTopLeft-mobile {
      transform: unset;
    }
    &-anchorTopRight-mobile {
      transform: unset;
    }
  }
  app-login {
    height: 690px;
  }
  app-sign-in,
  app-avatar {
    top: 20px;
    height: 680px;
  }
  app-reset-password,
  app-check-email {
    top: 30px;
    height: 520px;
  }
}
@media (max-width: 500px) {
  app-login {
    height: 560px;
  }
  app-sign-in,
  app-avatar {
    height: 600px;
  }
  app-reset-password,
  app-check-email {
    height: 550px;
  }
}
@media (max-width: 420px) {
  app-sign-in {
    top: 0;
  }
}
@media (max-width: 350px) {
  app-avatar {
    top: 0px;
    height: 680px;
  }
}

@media (max-height: 660px) {
  app-login {
    height: max-content;
  }
}

// TODO: check
@media (max-width: 350px){
  .emoji-mart{
    width: 100dvw !important;
  }
}

