.check-email-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    background-color: white;
    align-items: center;
    gap: 25px;
    padding: 40px 93px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);

    h1 {
        color: var(--color-purple-1);
        font-size: 46px;
        font-weight: 700;
    }
}

form {
    width: 100%;
    display: flex;
    justify-content: center;

    >div {
        gap: 4px;

        input {
            background-color: var(--color-bg);
            width: 486px;
            border-radius: 100px;
            padding: 18px 32px;
            gap: 10px;
            border: unset;
            padding: 20px 70px;
            display: flex;
            align-items: center;
            background-image: url("/assets/img/lock.png");
            background-position: left 30px center;
            background-size: 24px 24px;
            background-repeat: no-repeat;
            border: 1px solid transparent;

            &::placeholder {
                font-family: 'Nunito';
                font-size: 18px;
                font-weight: 400;
                line-height: 21.6px;

            }

            &:hover {
                border: 1px solid var(--color-black);
            }

            &:focus {
                border: 1px solid var(--color-purple-2);
                outline: none;
                background-image: url("/assets/img/lock_b.png");
                font-weight: 700;
            }
        }
    }

}

.errorMsg {
    position: absolute;
    color: var(--color-error);
    font-size: 14px;
    margin-top: 4px;
}

.textMsgAbove {
    font-family: Nunito;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    width: 486px;
    color: var(--color-black);
}

.textMsgBelow {
    width: 354px;
    font-family: Nunito;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: var(--color-gray);
}

.back-to-login {
    position: absolute;
    left: 32px;
    top: 50px;
    width: 40px;
    height: 40px;

    img {
        width: 24px !important;
        height: 24px !important;

    }
}

.next-btn-container {
    width: 500px;
    display: flex;
    justify-content: flex-end;

    // button {
    //     background-color: var(--color-purple-1);
    //     border-radius: 25px;
    //     padding: 12px 25px;
    //     font-size: 18px;
    //     font-weight: 700;
    //     line-height: 24.55px;
    //     color: white;

    //     &:disabled {
    //         background-color: var(--color-gray);
    //         cursor: unset;
    //     }
    // }
}

@media (max-width: 710px) {
    .check-email-container {
        padding: 30px 16px;
        width: calc(100dvw - 32px);
        height: auto;

        h1 {
            font-size: 42px;
        }
    }

    .back-to-login {
        left: 24px;
        top: 40px;
    }
}

@media (max-width: 630px) {
    .check-email-container {
        h1 {
            font-size: 36px;
            text-align: center;
            width: 85%;
        }
    }

    .back-to-login {
        left: 18px;
        top: 34px;

        img {
            width: 20px !important;
            height: 20px !important;
        }
    }

    form {
        width: 100%;

        >div {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;

            input {
                width: 90%;
            }
        }

    }

    .errorMsg {
        text-align: start;
        width: 90%;
        margin-top: 65px;
    }

    .next-btn-container {
        width: 90%;
    }
}

@media (max-width: 500px) {
    .check-email-container {
        h1 {
            font-size: 32px;
            width: 80%;
        }

        >p {
            font-size: 16px;
            width: 100%;
        }
    }
    form {
        margin-bottom: 10px;

        >div {
            input {
                background-position: left 20px center;
                padding: 13px 32px 13px 70px;
                text-align: start;

                &::placeholder {
                    font-size: 16px;
                }
            }
        }
    }
}

@media (max-width: 400px) {
    form {
        >div {
            input {

                padding: 13px 24px 13px 55px;

            }
        }
    }
}

@media (max-width: 350px) {
    .back-to-login {
        top: unset;
        bottom: 36px;
        left: 18px;
    }
}