@import "./../../../styles.scss";
@import "../../../assets/scss/mixin.scss";

.header-content {
  @include dFlex;
  .logo-container {
    // min-width: 366px;
    height: 70px;
    flex: 1;
    display: inline-flex;
    align-items: center;
    gap: 16px;
    margin-right: 20px;

    .logo {
      width: 70px;
      height: 70px;
    }

    .logo-text {
      font-size: 24px;
      font-weight: 700;
      color: var(--color-black);
    }
  }

  .search-bar {
    width: 100%;
  }

  .user-head {
    @include dFlex($gap: 20px, $jc: flex-end);
    margin-left: 20px;
    // min-width: 485px;
    cursor: pointer;
    &:hover {
      color: var(--color-purple-3);
    }

    .name {
      white-space: nowrap;
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      // max-width: 200px;
      display: block;
    }

    .avatar {
      position: relative;
      width: 70px;
      height: 70px;
      .profile-img {
        width: 70px;
      }
    }
  }
}

@media (max-width: 1000px) {
  .search-bar {
    display: none;
  }
}
@media (max-width: 768px) {
  .header-content{
    padding: 20px;
    position: fixed;
    // display: flex;
    // justify-content: space-between;
    width: 100%;
  }

}
