@import "./../../../styles.scss";
@import "../../../assets/scss/mixin.scss";

.header-content {
  @include dFlex;
  .logo-container {
    // min-width: 366px;
    height: 70px;
    flex: 1;
    display: inline-flex;
    align-items: center;
    gap: 16px;
    margin-right: 20px;

    .logo {
      width: 70px;
      height: 70px;
    }

    .logo-text {
      font-size: 24px;
      font-weight: 700;
      color: var(--color-black);
    }
  }

  .search-bar {
    width: 100%;
  }


  .user-head {
    @include dFlex($gap: 20px, $jc: flex-end);
    margin-left: 20px;
    // min-width: 485px;
    cursor: pointer;
    &:hover {
      color: var(--color-purple-3);
    }

    .name {
      white-space: nowrap;
      font-weight: 500;
      overflow: hidden;
      text-overflow: ellipsis;
      // max-width: 200px;
      display: block;
    }

    .avatar {
      position: relative;
      width: 70px;
      height: 70px;
      .profile-img {
        width: 70px;
      }
    }
  }
}
.mobile{
  display: none !important;
  position: absolute;
  left: -100%;
  width: 40%;
  transition: 0.5s;
  z-index: 200;
  background-color: var(--color-bg);
}
.backBtn{
  cursor: pointer;
  
}


@media (max-width: 1024px) {
  .search-bar {
    display: none;
  }
}
@media (max-width: 768px) {
  .user-head{
    position: relative;
    z-index: 1001;
  }
  .header-content{
    padding: 20px;
    position: fixed;
    width: 100dvw;
  }
  .mobile{
    display: inline-flex !important;
    z-index: 1000;
    min-width: 300px;
  }
  .show{
    left: 0px !important;
    padding-left: 20px;
    // transition: 0.5s;
  }
  .name{
    display: none !important;
  }
  .menu-btn{
    display: none;
  }
  .online-status-wborder{
    display: none;
  }
}

@media(max-width: 420px){
  .header-content{
    padding: 15px 16px;
    .user-head{
      .avatar{
        width: 50px;
        height: 50px;
        .profile-img{
          width: 50px;
          height: 50px;
        }
      }
    }
    .logo-container{
      margin-right: 0;
      gap: 8px;
      padding-left: 10px;
      .backBtn{
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .logo{
        width: 45px;
        height: 45px;
      }
    }
  }
  
}
