<div class="reset-container">
    <button class="back-to-login btn-icon" (click)="goToCheckEmail()"><img src="assets/img/arrow_back.svg" class="" alt=""></button>
        <h1>Passwort zurücksetzen</h1>
        <form action="">
            <div>
                <input type="password" required name="password" ngModel #newpassword="ngModel" placeholder="Neues Passwort">
            </div>
            <div>
                <input type="password" required name="password-again" ngModel #newpasswordagain="ngModel" placeholder="Neues Passwort bestätigen">
                <p class="errorMsg" *ngIf="newpassword.value !== newpasswordagain.value">
                    Ihre Passwörter stimmen nicht überein
                </p>
            </div>
            
        </form>
        <div class="next-btn-container">
            <button class="btn" [disabled]="newpassword.value !== newpasswordagain.value" (click)="changePassword()">Passwort ändern</button>
            <!-- disabled bis beide passwörter ausgefüllt sind und gleich -->
        </div>
</div>