<div class="reset-container">
    <button class="back-to-login btn-icon" (click)="goToCheckEmail()"><img src="assets/img/arrow_back.svg" class="" alt=""></button>
        <h1>Passwort zurücksetzen</h1>
        <form action="">
            <div>
                <input [(ngModel)]="resetPassword" type="password" required name="resetPassword" ngModel #newpassword="ngModel" placeholder="Neues Passwort">
            </div>
            <div>
                <input [(ngModel)]="resetPasswordAgain" type="password" required name="resetPassword-again" ngModel #newpasswordagain="ngModel" placeholder="Neues Passwort bestätigen">
                <p class="errorMsg" *ngIf="newpassword.value !== newpasswordagain.value">
                    Ihre Passwörter stimmen nicht überein
                </p>
            </div>
            
        </form>
        <div class="next-btn-container">
            <button class="btn" [disabled]="newpassword.value != newpasswordagain.value || newpassword.value == '' " (click)="changePassword(newpassword.value)">Passwort ändern</button>
        </div>
</div>