@import '../../../styles.scss';

.main-menu {
  @include dFlex($fd: column, $jc: flex-start, $ai: flex-start, $gap: 25px);
  background-color: var(--color-white);
  width: 350px;
  height: 90dvh;
  border-radius: 20px;
  padding: 32px 30px;
  color: var(--color-black);
  overflow-y: scroll;
}

.menu-channels, .menu-header, .menu-dm {
  width: 100%;
}