@import "../../../styles.scss";
@import "../../../assets/scss/mixin.scss";

.main-menu {
  @include dFlex($fd: column, $jc: flex-start, $ai: flex-start, $gap: 25px);
  background-color: var(--color-white);
  height: 100%;
  border-radius: 20px;
  padding: 0 30px 32px 30px;
  color: var(--color-black);
  overflow-y: hidden;
  box-shadow: none;
}
.menu-content{
  height: 100%;
  max-height: calc(100% - 92px);
  width: 100%;
}
.menu-channels,
.menu-header,
.menu-dm {
  width: 100%;
}

.menu-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--color-white);
  padding-top: 32px;
}

.menu-overlay {
  @include dFlex($ai: center, $gap: 0px);
  position: fixed;
  top: 65%;
  left: -150px;
  z-index: 1000;
  transform: rotate(270deg);
  border-radius: 0px 0px 30px 30px;
  padding: 8px 20px 8px 20px;
  box-shadow: 4px 4px 7px 0px rgba(0, 0, 0, 0.2);

  mat-card-title {
    @include dFlex($ai: center, $jc: space-between, $gap: 10px);
    font-size: 20px;
    width: 100%;
    text-align: center;

    svg {
      rotate: 90deg;
    }
  }

  &:hover {
    cursor: pointer;
    box-shadow: 4px 4px 7px 1px rgba(0, 0, 0, 0.3);

    mat-card-title {
      color: var(--color-purple-3);
    }

    .svg-color path {
      fill: var(--color-purple-3);
    }
  }
}

.mobile-menu {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 60px;
  height: 60px;
  right: 5%;
  bottom: 100px;
  padding: 8px 10px 12px 10px;
  border-radius: 100px;
  background-color: var(--color-purple-1);
  box-shadow: 0px 6px 10px 0px #00000033;
  cursor: pointer;
}

.mobile-search-bar {
  width: 100%;
  display: none;
  padding-top: 32px;
}
@media (max-width: 1024px) {
  .main-menu {
    min-width: 322px;
  }

  .mobile-menu {
    display: flex;


  }
  .mobile-search-bar {
    display: block;
  }
  .menu-header{
    padding-top: 0px;
  }

  @media (max-width: 768px) {
    .menu-header{
      display: none;
    }
    .edit-circle {
      display: block;
    }
    .mobile-search-bar{
      padding-top: 24px;
    }
    .main-menu {
      max-width: none;
      border-radius: 0;
      width: 100%;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 100;
    }
  }
}

@media (max-width: 400px) {
  .mobile-search-bar{
    padding-top: 0px;
  }
  .main-menu {
    padding: 10px;
    min-width: unset;
    min-width: calc(100dvw - 20px);
  }
}