<mat-card id="menu-none" class="main-menu">
<!-- <mat-card id="menu-none" class="main-menu" [class.menu-open]="isMenuOpen" [class.menu-closed]="!isMenuOpen"> -->
    <app-main-menu-header class="menu-header"></app-main-menu-header>
    <app-main-menu-channels class="menu-channels"></app-main-menu-channels>
    <app-main-menu-dm class="menu-dm"></app-main-menu-dm>

    <div class="mobile-menu" (click)="openNewMessage()">
        <img src="assets/img/edit_square.png" alt="">
    </div>
</mat-card>