@import '../../../styles.scss';
@import "../../../assets/scss/mixin.scss";

.main-menu {
  @include dFlex($fd: column, $jc: flex-start, $ai: flex-start, $gap: 25px);
  background-color: var(--color-white);
  max-width: 366px;
  min-width: 366px;
  height: 100%;
  border-radius: 20px;
  padding: 32px 30px;
  color: var(--color-black);
  overflow-y: auto;
  box-shadow: none;
}

.menu-channels, .menu-header, .menu-dm {
  width: 100%;
}